/* إعداد الجسم ليأخذ كامل الشاشة */
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadff7;
    font-family: "Roboto Mono", monospace;
}

/* الآلة الحاسبة لتملأ كامل الشاشة */
.calculator {
    width: 100vw;           /* عرض كامل الشاشة */
    height: 100vh;          /* ارتفاع كامل الشاشة */
    background-color: #071013;
    padding: 20px;          /* تقليل البادينغ ليكون مناسب لكل الشاشات */
    border-radius: 0;       /* إزالة الزوايا لتملأ الشاشة */
    box-shadow: none;       /* إزالة الظل */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    box-sizing: border-box;
}

/* تعديل الشبكة الداخلية */
.calculation {
    grid-column: span 6;
}

.history {
    grid-column: span 4;
}

#historyTitle {
    color: aliceblue;
    text-align: center;
}

.display input {
    width: 100%;
    padding: 10px;
    font-size: 2.5vw; /* حجم ديناميكي حسب الشاشة */
    background-color: transparent;
    color: white;
    border: none;
    text-align: right;
}

.display input::placeholder {
    color: #9490ac;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 20px;
}

button {
    font-size: 1.5vw;      /* حجم ديناميكي */
    padding: 1.2vw;        /* حجم ديناميكي */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.digit-button {
    background-color: #6c6a6a;
}
.digit-button:hover {
    background-color: #6c6a6aa8;
}

.operation-button {
    background-color: #f69906;
}
.operation-button:hover {
    background-color: #f69906a8;
}

#equal {
    grid-row: span 2;
    background-color: #f9544c;
}
#equal:hover {
    background-color: #f9544ca8;
}

#zero {
    grid-column: span 2;
}

.side-button {
    background-color: #333;
}
.side-button:hover {
    background-color: #333333a8;
}

.btn-sm {
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 3px;
}
